.brand,
#fp-nav.fp-right {
    display: none;
}

.nav {
    display: none;
}

.phone-nav {
    display: block;
    background-color: #0a0a0a;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    height: 50px;
    z-index: 998;
}

.phone-nav .navtitle {
    line-height: 50px;
    margin-left: 12px;
    font-size: 26px;
    font-family: SimSun, "微软雅黑", "宋体", sans-serif;
    ;
}

.phone-nav>a img {
    width: 34px;
    position: absolute;
    top: 12px;
    right: 15px;
}

.phone-nav ul {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    display: none;
}

.phone-nav ul li {
    font-size: 18px;
    line-height: 40px;
    background-color: rgba(10, 10, 10, .4);
}

.phone-nav ul li.active {
    background-color: rgba(0, 245, 245, .5);
}

.head_title {
    font-size: 24px;
    margin: 0;
}

.head_title h3::after {
    width: 160px;
}

.head_title .enwords {
    padding: 5px;
    letter-spacing: 2px;
}

.navIcon {
    top: 20px;
    right: 20px;
}

.test {
    top: 10%;
}

.container {
    width: 100%;
}

.content {
    padding: 20px;
}

.content p {
    line-height: 1.5;
}

.icon {
    margin: 0;
}

.icon p span {
    font-size: 14px;
}

.content:hover {
    box-shadow: 0 0 0;
    background-color: rgba(255, 255, 255, 0);
}

.section1 .desc h2 {
    font-size: 40px;
    font-family: SimSun, "微软雅黑", "宋体", sans-serif;
}

.section1 .desc p {
    font-size: 22px;
}

.enduskill {
    display: none;
}

.skill .skill-list li {
    width: 140px;
    height: 140px;
    margin: 12px;
}

.hide {
    font-size: 10px;
    padding: 5px;
    letter-spacing: normal;
}

.hide p {
    margin-bottom: 0;
}

.main,
.section4 .main {
    width: 100%;
    top: 20%;
}

.section4 .main .demo>ul {
    display: block;
    text-align: center;
}

.section4 .main .demo>ul li {
    display: inline-block;
    width: 140px;
    margin-top: 20px;
}

.demo-bg .demo-inner .demo-desc {
    top: -20%;
}

.contact-box {
    width: 100%;
    margin: none;
}

.contact-title span {
    padding: 0 10px;
}