.head_title {
    font-size: 20px;
}

.content {
    width: 40%;
    padding: 0 20px;
}

.content p {
    line-height: 1.2;
}

.icon {
    width: 40%;
}

.icon a {
    width: 40px;
    height: 40px;
    margin: 0;
}

.icon a .iconfont {
    font-size: 22px;
}

.icon p {
    width: 100%;
}

.skill .skill-list li {
    width: 126px;
    height: 126px;
    margin: 5px;
}

.hide {
    overflow: hidden;
}

.section4 .main .demo>ul li {
    width: 126px;
    margin-top: 10px;
}

.weixin-tips {
    width: 110px;
    height: 112px;
    background-size: 100% 100%;
    background-position: center;
    top: -130px;
    left: -38px;
}

.qq-tips {
    width: 110px;
    height: 125px;
    background-size: 100% 100%;
    background-position: center;
    top: -142px;
    left: -39px;
}

.head_title h3::after {
    width: 140px;
}